/assets/
/pytorch/model/outdated/
/pytorch/data/
/flower_net.pth
/assets.zip
/crawler/roses/
/flower_net_VGG16.pth
/flask/img/
/flower_net_VGG19.pth
/temp/
/output_data/
/checkpoint/
/logs/
/logs
/PlantVillage-Dataset/
/checkpoint2/
